ol, ul {
    list-style: none;
}
a, a:hover {
    text-decoration: none;
}
.cart{
    position: sticky;
    top: 0;
}
.person-img, .person-info{
    text-align: center;
}
.person-img img{
    width: 14rem;
    border-radius: 5px;
    margin-top: 1rem;
}

.person-info h5{
    font-weight: bold;
    margin-bottom: 0;
}
.person-info p{
    color: #00c6ac;
    font-weight: bold;
}

.person-physical-info ul{
    background: #ebfbff;
    margin: 0 1rem;
    padding: 1rem 0;
    border-radius: 10px;
    font-weight: bold;
}
.person-physical-info ul span{
    color: #00c6ac;
}

.breaks{
    padding: 0 1rem;
}
.breaks h5{
    font-weight: bold;
}
.breaks ul{
    padding-left: 0;
    background: #ebfbff;
    padding: 1rem 0.5rem;
    border-radius: 10px;
}
.breaks li button{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    border: 1px solid #00c6ac;
    background: #fff;
}
.breaks li button:hover{
    background: #0a2540;
    color: #fff;
}
.details h5{
    font-weight: bold;
    padding-left: 1rem;
}
.exercise-time, .break-time{
    margin: 0 1rem 1rem;
    background: #ebfbff;
    font-weight: bold;
    border-radius: 10px;
}
.exercise-time p, .break-time p{
    padding: 0.5rem 1rem;
}

.exercise-time span, .break-time span{
    color: #00c6ac;
}